ide/smartConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.anakeen.com/ns/smart/v1/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:v1="http://www.anakeen.com/ns/smart/v1/">
    <xs:element name="config" type="v1:configType">
        <xs:annotation>
            <xs:documentation>
                <h1>Smart Configuration</h1>
                <p>To configure Smart Structure and Smart Access</p>
            </xs:documentation>
        </xs:annotation>

    </xs:element>

    <xs:complexType name="attr-returnType">
                <xs:attribute type="v1:attrNameType" name="attr"/>
    </xs:complexType>

    <xs:complexType name="attr-overrideType">
        <xs:complexContent>
            <xs:extension base="v1:attr-standardType">
                <xs:attribute type="v1:attrNameType" name="attr"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="attr-autocompleteType">
        <xs:sequence>
            <xs:element type="v1:attr-callableType" name="attr-callable"/>
            <xs:element type="v1:attr-argumentType" name="attr-argument" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="v1:attr-returnsType" name="attr-returns" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="v1:attrNameType" name="attr"/>
    </xs:complexType>

    <xs:simpleType name="attrReturnArgType">
        <xs:annotation>
            <xs:documentation>Type of argument</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="attribute"/>
            <xs:enumeration value="string"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="visibilityType">
        <xs:annotation>
            <xs:documentation>Deprecated visibilities attributes</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="W"/>
            <xs:enumeration value="R"/>
            <xs:enumeration value="H"/>
            <xs:enumeration value="O"/>
            <xs:enumeration value="S"/>
            <xs:enumeration value="U"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="profilPolicyType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ADD"/>
            <xs:enumeration value="SET"/>
            <xs:enumeration value="RESET"/>
            <xs:enumeration value="DELETE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="fieldsetType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="frame"/>
            <xs:enumeration value="tab"/>
            <xs:enumeration value="array"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="enumeratesType">
        <xs:sequence>
            <xs:element type="v1:enum-configurationType" name="enum-configuration" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="attr-optionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="enumType">

                <xs:attribute type="xs:token" name="name"/>
                <xs:attribute type="xs:string" name="label"/>

    </xs:complexType>
    <xs:complexType name="enum-configurationType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="v1:enumType" name="enum"/>
        </xs:choice>
        <xs:attribute type="xs:token" name="name"/>
        <xs:attribute type="xs:boolean" name="extendable" default="false"/>
    </xs:complexType>
    <xs:complexType name="attr-standardType" >
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element type="v1:attr-optionType" name="attr-option"/>
        </xs:sequence>
        <xs:attribute type="v1:attrNameType" name="name" use="required"/>
        <xs:attribute type="xs:string" name="label"/>
        <xs:attribute type="xs:boolean" name="needed"/>
        <xs:attribute type="v1:visibilityType" name="visibility">
            <xs:annotation>
                <xs:documentation>
                    <p>
                        <b>Deprecated</b>
                        visibilities attributes
                    </p>
                    <hr/>
                    <ul>
                        <li>W : For Write</li>
                        <li>R : For ReadOnly</li>
                        <li>H : For Hidden</li>
                        <li>O : For WriteOnly</li>
                        <li>S : For Disable in edition</li>
                    </ul>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute type="xs:boolean" name="is-abstract" default="false"/>
        <xs:attribute type="xs:boolean" name="is-title" default="false"/>
        <xs:attribute type="xs:string" name="link"/>
        <xs:attribute type="xs:string" name="multiple"/>
    </xs:complexType>

    <xs:simpleType name="attrNameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z][a-z0-9_]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="logicalNameType">
        <xs:restriction base="xs:token">
            <xs:pattern value="[A-Za-z][A-Za-z0-9_]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="attr-formatType">
        <xs:complexContent>
            <xs:extension base="v1:attr-standardType">
                <xs:attribute type="xs:string" name="format"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="attr-relationType">
        <xs:complexContent>
            <xs:extension base="v1:attr-standardType">
                <xs:attribute type="xs:token" name="relation"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="attr-enumType">
        <xs:complexContent>
            <xs:extension base="v1:attr-standardType">
                <xs:attribute type="xs:token" name="relation"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="configType">
        <xs:sequence>
            <xs:element type="v1:structure-configurationType" name="structure-configuration" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        <h1>Smart Structure Configuration</h1>
                        <p>To configure Smart Structure parts such as attributes, parameters, default values</p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="v1:enumeratesType" name="enumerates" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="v1:accessConfigurationType" name="access-configuration" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="accessConfigurationType">
        <xs:sequence>
            <xs:element type="v1:accessType" name="element-access" minOccurs="0" maxOccurs="unbounded" xmlns:v1="http://www.anakeen.com/ns/smart/v1/">
                <xs:annotation>
                    <xs:documentation>
                        <h1>Smart Structure Access Configuration</h1>
                        <p>To configure rights to access to data</p>
                        <p>Main rights are:
                            <ul>
                                <li>view :
                                    <i>to access to smart element data</i>
                                </li>
                                <li>edit :
                                    <i>to modify to smart element data</i>
                                </li>
                                <li>delete :
                                    <i>to delete the smart element</i>
                                </li>
                                <li>create (for PFAM profil) :
                                    <i>to create a new smart element</i>
                                </li>
                                <li>icreate (for PFAM profil) :
                                    <i>to authorize interactive creation of new smart element</i>
                                </li>
                            </ul>
                        </p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="v1:logicalNameType" name="name"/>
        <xs:attribute type="xs:token" name="type"/>
        <xs:attribute type="xs:string" name="label"/>
        <xs:attribute type="v1:profilPolicyType" name="policy" default="ADD">
            <xs:annotation>
                <xs:documentation>
                    <p>Policy to use when set profil access</p>
                    <ul>
                        <li>ADD (the default): : Add access and update rights only if changed</li>
                        <li>SET : Add access and update always rights</li>
                        <li>RESET : Remove all predefined rights to replace them</li>
                        <li>DELETE : Delete rights</li>
                    </ul>

                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute type="v1:logicalNameType" name="link"/>
        <xs:attribute type="v1:logicalNameType" name="linked-structure">
            <xs:annotation>
                <xs:documentation>
                    <h1>Dynamic Profil</h1>
                    <p>Indicate that account attributes of linked structure can be use in acl configuration</p>
                    <p>If it is set, all smart element linked with its profil are a computed profil. When the right of this profil change, all linked computed profile are reseted.
                        May take long time to proceed (depends of number of linked profil)
                    </p>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute type="v1:logicalNameType" name="profil-type" default="PDOC"/>
    </xs:complexType>

    <xs:complexType name="attr-accountType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="v1:attr-standardType" name="attr-text"/>
            <xs:element type="v1:attr-standardType" name="attr-enum"/>
            <xs:element type="v1:attr-standardType" name="attr-docid"/>
            <xs:element type="v1:attr-standardType" name="attr-int"/>
        </xs:choice>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="label"/>
        <xs:attribute type="v1:visibilityType" name="visibility"/>
        <xs:attribute type="xs:string" name="extended"/>
        <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
    <xs:complexType name="attr-argumentType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="v1:attrReturnArgType" name="type"/>
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="structure-configurationType">
        <xs:sequence>
            <xs:element type="xs:string" name="default-folder" minOccurs="0"/>
            <xs:element type="v1:iconType" name="icon" minOccurs="0"/>
            <xs:element type="v1:classType" name="class" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/">

                <xs:annotation>
                    <xs:documentation>
                        <h1>PHP Class</h1>
                        <p>This property indicate a complete PHP (including namespace).</p>
                        <p>This class is used to declare hooks and to add functionnalities to the Smart Structure</p>
                        <em>This class must extends the standard SmartElement class if the Smart Structure not extends another Smart Structure</em>
                    </xs:documentation>
                </xs:annotation>

            </xs:element>
            <xs:element type="v1:revisable" name="revisable" minOccurs="0"/>
            <xs:element type="xs:string" name="usefor" minOccurs="0"/>
            <xs:element type="xs:string" name="tag" minOccurs="0"/>
            <xs:element type="v1:attributesType" name="attributes" minOccurs="0"/>
            <xs:element type="v1:attributesType" name="parameters" minOccurs="0"/>
            <xs:element type="v1:attr-overrideType" name="attr-override" minOccurs="0"/>
            <xs:element type="v1:hooksType" name="hooks" minOccurs="0"/>
            <xs:element type="v1:autocompletionType" name="autocompletion" minOccurs="0"/>
            <xs:element type="v1:defaultsType" name="defaults" minOccurs="0"/>

            <xs:element type="v1:accessesType" name="accesses" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="v1:logicalNameType" name="name"/>
        <xs:attribute type="xs:int" name="id"/>
        <xs:attribute type="xs:string" name="label"/>
        <xs:attribute type="xs:string" name="extends"/>
    </xs:complexType>
    <xs:complexType name="attributesType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="v1:attr-fieldsetType" name="attr-fieldset" xmlns:v1="http://www.anakeen.com/ns/smart/v1/">
                <xs:annotation>
                    <xs:documentation>Smart Fieldset of attributes</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="defaultsType">
        <xs:sequence>
            <xs:element type="v1:defaultType" name="default" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="accessesType">
        <xs:sequence>
            <xs:element type="v1:accessConfigurationType" name="structure-access-configuration" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <h1>Access to the smart structure</h1>
                        <h2>Define also right to create smart element of this structure</h2>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="v1:accessConfigurationType" name="element-access-configuration" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <h1>Smart Element Access Configuration</h1>
                        <h2>To configure rights for new Smart Elements of this structure</h2>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="accessType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:token" name="link"/>
                <xs:attribute type="xs:token" name="login"/>
                <xs:attribute type="xs:token" name="access"/>
                <xs:attribute type="v1:attrNameType" name="attr"/>
                <xs:attribute type="v1:logicalNameType" name="element"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:complexType name="defaultType" mixed="true">
        <xs:sequence>
            <xs:element type="v1:attr-callableType" name="attr-callable" minOccurs="0"/>
            <xs:element type="v1:attr-argumentType" name="attr-argument" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="v1:attr-returnsType" name="attr-returns" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="v1:attrNameType" name="attr" use="required"/>
        <xs:attribute type="xs:boolean" name="reset" default="false"/>
    </xs:complexType>

    <xs:complexType name="attr-callableType">
        <xs:attribute type="xs:string" name="function"/>
        <xs:attribute type="xs:string" name="external-file"/>
    </xs:complexType>


    <xs:complexType name="classType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:boolean" name="disable-inheritance-condition"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="iconType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="file"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:complexType name="revisable">
        <xs:simpleContent>
            <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
                <xs:enumeration value="auto"/>
                <xs:attribute type="xs:int" name="max"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="attr-returnsType">
        <xs:sequence>
            <xs:element type="v1:attr-returnType" name="attr-return" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="autocompletionType">
        <xs:sequence>
            <xs:element type="v1:attr-autocompleteType" name="attr-autocomplete" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="attr-hookType">
        <xs:sequence>
            <xs:element type="v1:attr-callableType" name="attr-callable"/>
            <xs:element type="v1:attr-argumentType" name="attr-argument" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="v1:attr-returnType" name="attr-return" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="event"/>
        <xs:attribute type="v1:attrNameType" name="attr"/>
        <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
    <xs:complexType name="hooksType">
        <xs:sequence>
            <xs:element type="v1:attr-hookType" name="attr-hook" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="attr-fieldsetType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="v1:attr-fieldsetType" name="attr-fieldset"/>
            <xs:element type="v1:attr-standardType" name="attr-date"/>
            <xs:element type="v1:attr-formatType" name="attr-time"/>
            <xs:element type="v1:attr-formatType" name="attr-int"/>
            <xs:element type="v1:attr-formatType" name="attr-double"/>
            <xs:element type="v1:attr-formatType" name="attr-money"/>
            <xs:element type="v1:attr-standardType" name="attr-color"/>
            <xs:element type="v1:attr-formatType" name="attr-timestamp"/>
            <xs:element type="v1:attr-standardType" name="attr-password"/>
            <xs:element type="v1:attr-formatType" name="attr-text"/>
            <xs:element type="v1:attr-standardType" name="attr-longtext"/>
            <xs:element type="v1:attr-standardType" name="attr-htmltext"/>
            <xs:element type="v1:attr-standardType" name="attr-file"/>
            <xs:element type="v1:attr-standardType" name="attr-image"/>
            <xs:element type="v1:attr-enumType" name="attr-enum"/>
            <xs:element type="v1:attr-relationType" name="attr-docid"/>
            <xs:element type="v1:attr-relationType" name="attr-account"/>
            <xs:element type="v1:attr-optionType" name="attr-option"/>
        </xs:choice>
        <xs:attribute type="v1:attrNameType" name="name" use="required"/>
        <xs:attribute type="xs:boolean" name="extended"/>
        <xs:attribute type="v1:fieldsetType" name="type"/>
        <xs:attribute type="xs:string" name="label"/>
        <xs:attribute type="v1:visibilityType" name="visibility"/>
        <xs:attribute type="xs:string" name="relation"/>
        <xs:attribute type="xs:string" name="multiple"/>
        <xs:attribute type="xs:string" name="is-abstract"/>
        <xs:attribute type="xs:string" name="link"/>
    </xs:complexType>
</xs:schema>