ide/smartConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.anakeen.com/ns/smart/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config" type="v1:configType" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>

    <xs:complexType name="attr-returnType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="attr"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="attr-overrideType">
        <xs:simpleContent>
            <xs:extension base="v1:attr-standardType" xmlns:v1="http://www.anakeen.com/ns/smart/v1/">
                <xs:attribute type="xs:string" name="attr"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="attr-autocompleteType">
        <xs:sequence>
            <xs:element type="v1:attr-callableType" name="attr-callable" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:attr-argumentType" name="attr-argument" maxOccurs="unbounded" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:attr-returnsType" name="attr-returns" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="attr"/>
    </xs:complexType>
    <xs:complexType name="enumeratesType">
        <xs:sequence>
            <xs:element type="v1:enum-configurationType" name="enum-configuration" maxOccurs="unbounded" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="attr-optionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="enumType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
                <xs:attribute type="xs:string" name="label"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="enum-configurationType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="v1:enumType" name="enum" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
        </xs:choice>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
    <xs:complexType name="attr-standardType" mixed="true">
        <xs:sequence minOccurs="0">
            <xs:element type="v1:attr-optionType" name="attr-option" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="label"/>
        <xs:attribute type="xs:boolean" name="needed"/>
        <xs:attribute type="xs:string" name="visibility"/>
        <xs:attribute type="xs:boolean" name="is-abstract"/>
        <xs:attribute type="xs:boolean" name="is-title"/>
        <xs:attribute type="xs:string" name="link"/>
        <xs:attribute type="xs:string" name="relation"/>
        <xs:attribute type="xs:string" name="multiple"/>
    </xs:complexType>
    <xs:complexType name="configType">
        <xs:sequence>
            <xs:element type="v1:structure-configurationType" name="structure-configuration" minOccurs="0" maxOccurs="unbounded" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:enumeratesType" name="enumerates" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="attr-accountType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="v1:attr-standardType" name="attr-text" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:attr-standardType" name="attr-enum" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:attr-standardType" name="attr-docid" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:attr-standardType" name="attr-int" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
        </xs:choice>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="label"/>
        <xs:attribute type="xs:string" name="visibility"/>
        <xs:attribute type="xs:string" name="extended"/>
        <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
    <xs:complexType name="attr-argumentType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="type"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="structure-configurationType">
        <xs:sequence>
            <xs:element type="v1:iconType" name="icon" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:classType" name="class" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="xs:string" name="revisable" minOccurs="0"/>
            <xs:element type="xs:string" name="usefor" minOccurs="0"/>
            <xs:element type="v1:attributesType" name="attributes" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:attributesType" name="parameters" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:attr-overrideType" name="attr-override" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:hooksType" name="hooks" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:autocompletionType" name="autocompletion" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="xs:string" name="defaults" minOccurs="0"/>
            <xs:element type="xs:string" name="accesses" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:int" name="id"/>
        <xs:attribute type="xs:string" name="label"/>
        <xs:attribute type="xs:string" name="extends"/>
    </xs:complexType>
    <xs:complexType name="attributesType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="v1:attr-fieldsetType" name="attr-fieldset" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="attr-callableType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="function"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:complexType name="classType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:boolean" name="disable-inheritance-condition"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="iconType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="file"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="attr-returnsType">
        <xs:sequence>
            <xs:element type="v1:attr-returnType" name="attr-return" maxOccurs="unbounded" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="autocompletionType">
        <xs:sequence>
            <xs:element type="v1:attr-autocompleteType" name="attr-autocomplete" maxOccurs="unbounded" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="attr-hookType">
        <xs:sequence>
            <xs:element type="v1:attr-callableType" name="attr-callable" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:attr-argumentType" name="attr-argument" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:attr-returnType" name="attr-return" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="event"/>
        <xs:attribute type="xs:string" name="attr"/>
        <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
    <xs:complexType name="hooksType">
        <xs:sequence>
            <xs:element type="v1:attr-hookType" name="attr-hook" maxOccurs="unbounded" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="attr-fieldsetType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="v1:attr-standardType" name="attr-text" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:attr-standardType" name="attr-longtext" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:attr-standardType" name="attr-enum" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:attr-standardType" name="attr-docid" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:attr-standardType" name="attr-int" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
            <xs:element type="v1:attr-optionType" name="attr-option" xmlns:v1="http://www.anakeen.com/ns/smart/v1/"/>
        </xs:choice>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="extended"/>
        <xs:attribute type="xs:string" name="type"/>
        <xs:attribute type="xs:string" name="label"/>
        <xs:attribute type="xs:string" name="visibility"/>
        <xs:attribute type="xs:string" name="relation"/>
        <xs:attribute type="xs:string" name="multiple"/>
        <xs:attribute type="xs:string" name="is-abstract"/>
        <xs:attribute type="xs:string" name="link"/>
    </xs:complexType>
</xs:schema>