ide/smartConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.anakeen.com/ns/smart/v1/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:v1="http://www.anakeen.com/ns/smart/v1/">
    <xs:element name="config" type="v1:configType">
        <xs:annotation>
            <xs:documentation>
                <h1>Smart Configuration</h1>
                <p>To configure Smart Structure and Smart Access</p>
            </xs:documentation>
        </xs:annotation>

    </xs:element>

    <xs:complexType name="attr-returnType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="v1:attrNameType" name="attr"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="attr-overrideType">
        <xs:simpleContent>
            <xs:extension base="v1:attr-standardType" xmlns:v1="http://www.anakeen.com/ns/smart/v1/">
                <xs:attribute type="v1:attrNameType" name="attr"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="attr-autocompleteType">
        <xs:sequence>
            <xs:element type="v1:attr-callableType" name="attr-callable"/>
            <xs:element type="v1:attr-argumentType" name="attr-argument" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="v1:attr-returnsType" name="attr-returns" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="v1:attrNameType" name="attr"/>
    </xs:complexType>

    <xs:simpleType name="attrReturnArgType">
        <xs:annotation>
            <xs:documentation>Type of argument</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="attribute"/>
            <xs:enumeration value="string"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="visibilityType">
        <xs:annotation>
            <xs:documentation>Deprecated visibilities attributes</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="W"/>
            <xs:enumeration value="R"/>
            <xs:enumeration value="H"/>
            <xs:enumeration value="O"/>
            <xs:enumeration value="S"/>
            <xs:enumeration value="U"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="fieldsetType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="frame"/>
            <xs:enumeration value="tab"/>
            <xs:enumeration value="array"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="enumeratesType">
        <xs:sequence>
            <xs:element type="v1:enum-configurationType" name="enum-configuration" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="attr-optionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="enumType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
                <xs:attribute type="xs:string" name="label"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="enum-configurationType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="v1:enumType" name="enum"/>
        </xs:choice>
        <xs:attribute type="xs:token" name="name"/>
        <xs:attribute type="xs:boolean" name="extendable" default="false"/>
    </xs:complexType>
    <xs:complexType name="attr-standardType" mixed="true">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element type="v1:attr-optionType" name="attr-option"/>
        </xs:sequence>
        <xs:attribute type="v1:attrNameType" name="name" use="required"/>
        <xs:attribute type="xs:string" name="label"/>
        <xs:attribute type="xs:boolean" name="needed"/>
        <xs:attribute type="v1:visibilityType" name="visibility">
            <xs:annotation>
                <xs:documentation>
                    <p>
                        <b>Deprecated</b>
                        visibilities attributes
                    </p>
                    <hr/>
                    <ul>
                        <li>W : For Write</li>
                        <li>R : For ReadOnly</li>
                        <li>H : For Hidden</li>
                        <li>O : For WriteOnly</li>
                        <li>S : For Disable in edition</li>
                    </ul>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute type="xs:boolean" name="is-abstract" default="false"/>
        <xs:attribute type="xs:boolean" name="is-title" default="false"/>
        <xs:attribute type="xs:string" name="link"/>
        <xs:attribute type="xs:string" name="relation"/>
        <xs:attribute type="xs:string" name="multiple"/>
    </xs:complexType>
    <xs:simpleType name="attrNameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z][a-z0-9_]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="attr-formatType">
        <xs:simpleContent>
            <xs:extension base="attr-standardType">
                <xs:attribute type="xs:string" name="format"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="configType">
        <xs:sequence>
            <xs:element type="v1:structure-configurationType" name="structure-configuration" minOccurs="0" maxOccurs="unbounded" xmlns:v1="http://www.anakeen.com/ns/smart/v1/">
                <xs:annotation>
                    <xs:documentation>
                        <h1>Smart Structure Configuration</h1>
                        <p>To configure Smart Structure parts such as attributes, parameters, default values</p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="v1:enumeratesType" name="enumerates" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="attr-accountType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="v1:attr-standardType" name="attr-text"/>
            <xs:element type="v1:attr-standardType" name="attr-enum"/>
            <xs:element type="v1:attr-standardType" name="attr-docid"/>
            <xs:element type="v1:attr-standardType" name="attr-int"/>
        </xs:choice>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="label"/>
        <xs:attribute type="xs:string" name="visibility"/>
        <xs:attribute type="xs:string" name="extended"/>
        <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
    <xs:complexType name="attr-argumentType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="attrReturnArgType" name="type"/>
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="structure-configurationType">
        <xs:sequence>
            <xs:element type="xs:string" name="default-folder" minOccurs="0"/>
            <xs:element type="v1:iconType" name="icon" minOccurs="0"/>
            <xs:element type="v1:classType" name="class" minOccurs="0" xmlns:v1="http://www.anakeen.com/ns/smart/v1/">

                <xs:annotation>
                    <xs:documentation>
                        <h1>PHP Class</h1>
                        <p>This property indicate a complete PHP (including namespace).</p>
                        <p>This class is used to declare hooks and to add functionnalities to the Smart Structure</p>
                        <em>This class must extends the standard SmartElement class if the Smart Structure not extends another Smart Structure</em>
                    </xs:documentation>
                </xs:annotation>

            </xs:element>
            <xs:element type="v1:revisable" name="revisable" minOccurs="0"/>
            <xs:element type="xs:string" name="usefor" minOccurs="0"/>
            <xs:element type="xs:string" name="tag" minOccurs="0"/>
            <xs:element type="v1:attributesType" name="attributes" minOccurs="0"/>
            <xs:element type="v1:attributesType" name="parameters" minOccurs="0"/>
            <xs:element type="v1:attr-overrideType" name="attr-override" minOccurs="0"/>
            <xs:element type="v1:hooksType" name="hooks" minOccurs="0"/>
            <xs:element type="v1:autocompletionType" name="autocompletion" minOccurs="0"/>
            <xs:element type="v1:defaultsType" name="defaults" minOccurs="0"/>

            <xs:element type="xs:string" name="accesses" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:int" name="id"/>
        <xs:attribute type="xs:string" name="label"/>
        <xs:attribute type="xs:string" name="extends"/>
    </xs:complexType>
    <xs:complexType name="attributesType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="v1:attr-fieldsetType" name="attr-fieldset" xmlns:v1="http://www.anakeen.com/ns/smart/v1/">
                <xs:annotation>
                    <xs:documentation>Smart Fieldset of attributes</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="defaultsType">
        <xs:sequence>
            <xs:element type="v1:defaultType" name="default" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="defaultType" mixed="true">
        <xs:sequence>
            <xs:element type="v1:attr-callableType" name="attr-callable" minOccurs="0"/>
            <xs:element type="v1:attr-argumentType" name="attr-argument" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="v1:attr-returnsType" name="attr-returns" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="v1:attrNameType" name="attr"/>
    </xs:complexType>

    <xs:complexType name="attr-callableType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="function"/>
                <xs:attribute type="xs:string" name="external-file"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:complexType name="classType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:boolean" name="disable-inheritance-condition"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="iconType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="file"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:complexType name="revisable">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:int" name="max"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="attr-returnsType">
        <xs:sequence>
            <xs:element type="v1:attr-returnType" name="attr-return" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="autocompletionType">
        <xs:sequence>
            <xs:element type="v1:attr-autocompleteType" name="attr-autocomplete" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="attr-hookType">
        <xs:sequence>
            <xs:element type="v1:attr-callableType" name="attr-callable"/>
            <xs:element type="v1:attr-argumentType" name="attr-argument" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="v1:attr-returnType" name="attr-return" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="event"/>
        <xs:attribute type="v1:attrNameType" name="attr"/>
        <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
    <xs:complexType name="hooksType">
        <xs:sequence>
            <xs:element type="v1:attr-hookType" name="attr-hook" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="attr-fieldsetType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="v1:attr-fieldsetType" name="attr-fieldset"/>
            <xs:element type="v1:attr-standardType" name="attr-text"/>
            <xs:element type="v1:attr-standardType" name="attr-date"/>
            <xs:element type="v1:attr-formatType" name="attr-time"/>
            <xs:element type="v1:attr-formatType" name="attr-int"/>
            <xs:element type="v1:attr-formatType" name="attr-double"/>
            <xs:element type="v1:attr-formatType" name="attr-money"/>
            <xs:element type="v1:attr-standardType" name="attr-color"/>
            <xs:element type="v1:attr-formatType" name="attr-timestamp"/>
            <xs:element type="v1:attr-standardType" name="attr-password"/>
            <xs:element type="v1:attr-formatType" name="attr-text"/>
            <xs:element type="v1:attr-standardType" name="attr-longtext"/>
            <xs:element type="v1:attr-standardType" name="attr-htmltext"/>
            <xs:element type="v1:attr-standardType" name="attr-file"/>
            <xs:element type="v1:attr-standardType" name="attr-image"/>
            <xs:element type="v1:attr-standardType" name="attr-enum"/>
            <xs:element type="v1:attr-standardType" name="attr-docid"/>
            <xs:element type="v1:attr-standardType" name="attr-account"/>
            <xs:element type="v1:attr-optionType" name="attr-option"/>
        </xs:choice>
        <xs:attribute type="v1:attrNameType" name="name" use="required"/>
        <xs:attribute type="xs:boolean" name="extended"/>
        <xs:attribute type="v1:fieldsetType" name="type"/>
        <xs:attribute type="xs:string" name="label"/>
        <xs:attribute type="v1:visibilityType" name="visibility"/>
        <xs:attribute type="xs:string" name="relation"/>
        <xs:attribute type="xs:string" name="multiple"/>
        <xs:attribute type="xs:string" name="is-abstract"/>
        <xs:attribute type="xs:string" name="link"/>
    </xs:complexType>
</xs:schema>